# Entornos virtuales
.venv/
env/
venv/

# Archivos de configuración de VSCode
.vscode/

# Archivos compilados
__pycache__/
*.py[cod]

# Archivos del sistema
.DS_Store
Thumbs.db

# Archivos de base de datos locales
*.sqlite3

# Logs
*.log
